body{background-color: snow}

nav{
background-color:#F5F5F5;border-radius: 10px;text-align:center;
}

.bouton{
	display:inline-block;
	width:150px;
	line-height:50px;
	text-align:center;
	vertical-align:none;
	background:greenyellow;
	color:white;
	text-decoration:none;
	border-radius: 10px;
}
#nom{
	border: 2px solid black;
	border-radius: 15px;
background-color: #fff5ee;
text-align: center;
}
# photo{
float: right;
}

h2{
color: #purple;font-size:20px;background-color:lightgrey;text-align:center;
}
p {
color: hardgrey
}
img{
height: 140px;width: 140px;float: right;
}
li{
font-style:italic; text-decoration: underline;
}
